[submodule "fortress-experiments"]
	path = fortress-experiments
	url = git@github.com:eva-xuyen/migration.git
	branch = fortress-experiments
[submodule "fortress-experiments2"]
	path = fortress-experiments2
	url = git@github.com:eva-xuyen/migration.git
	branch = fortress-experiments2
[submodule "master"]
	path = master
	url = git@github.com:eva-xuyen/migration.git
	branch = master
